.main-container
  .container.wrapper
    .col-md-12
      .row
        img.logo(alt="Jedbangers" src="./assets/images/logo.png")

      .row.vertical-space

      .row.redeem-code-container(ng-controller="RedeemCodeController as ctrl")
        .loading-spinner(ng-if="ctrl.loading")
          span(us-spinner="{ lines: 6, speed: 2, length: 0, width: 10, radius: 10 }")

        .redeem-code(ng-if="!ctrl.loading && !ctrl.contentCode")
          form(name="ctrl.contentCodeForm" ng-submit="ctrl.doRedeem()")

            .alert.alert-danger.alert-dismissable(ng-show="ctrl.error")
              button.close(type="button" ng-click="ctrl.clearErrors()") &times;
              .text-left
                small.glyphicon.glyphicon-exclamation-sign
                small.sr-only Error
                small &nbsp;
                small {{ ctrl.error.title }}


              .text-center
                small &nbsp; &nbsp; &nbsp; &nbsp;
                small
                  strong {{ ctrl.error.message }}

            .form-group
              label(for="")
                span Introduce el codigo exclusivo de descarga
                br
                small (indicado en la pagina 48 de la Jedbangers #100)
              input.input-lg.form-control(
                type        = "text"
                ng-model    = "ctrl.code"
                placeholder = "ej: O6Z6Z6Y"
              )

            button.btn.btn-lg.btn-default(
              type        = "submit"
              ng-disabled = "!ctrl.code"
              analytics-on    = "click"
              analytics-event = "Redeem code"
              analytics-label = "{{ ctrl.code }}"
            ) Canjear codigo

          .redeemed-codes-container.col-md-8.col-md-offset-2(
            ng-if="ctrl.redeemedCodes && ctrl.redeemedCodes.length > 0"
          )
            h3 Últimos canjeados
            .redeemed-codes
              div(ng-repeat="contentCache in ctrl.redeemedCodes track by $index")
                redeemed-code(content="contentCache" on-click="ctrl.goToContent(contentCache.code)")
                hr

        .content-code(ng-if="!ctrl.loading && ctrl.contentCode")

          div(ng-if="!ctrl.hasContentItems()")
            .row
              h3
                | Todavia no hay contenidos cargados para este codigo
              h4
                | Volve a intentar en unos dias!
              .back-button-container
                a.btn.btn-default.btn-sm(
                  href     = ""
                  ng-click = "ctrl.goBack()"
                  analytics-on    = "click"
                  analytics-event = "Back to redeem code page"
                ) Canjear otro codigo

          div(ng-if="ctrl.hasContentItems()")
            .row
              .back-button-container
                a.btn.btn-default.btn-sm(
                  href     = ""
                  ng-click = "ctrl.goBack()"
                  analytics-on    = "click"
                  analytics-event = "Back to redeem code page"
                ) Canjear otro codigo

            .row.vertical-space

            .row.content-item-row(
              ng-repeat="contentItem in ctrl.contentCode.content track by $index"
            )
              .col-xs-1.col-md-1.col-md-offset-1.content-item-index-container
                h5
                  span.glyphicon.glyphicon-headphones
              .col-xs-11.col-md-8
                .content-item-container
                  .hidden-xs
                    .media
                      .media-body.text-left
                        h4.media-heading {{ contentItem.title }}
                        p {{ contentItem.description }}

                      .media-right
                        .media-object.content-code-image(
                          ng-if="contentItem.imageUrl"
                          style="background-image: url({{ contentItem.imageUrl }});"
                        )
                    p
                      content-player(ng-if="contentItem.url" code="ctrl.code" content="contentItem")

                  .visible-xs
                    .media
                      .media-body.text-left
                        h4.media-heading {{ contentItem.title }}
                        p {{ contentItem.description }}
                      .media-right
                        .media-object.content-code-image(
                          ng-if="contentItem.imageUrl"
                          style="background-image: url({{ contentItem.imageUrl }});"
                        )
                    p
                      content-player(ng-if="contentItem.url" code="ctrl.code" content="contentItem")

    .footer-push

  footer.footer
    .container
      p.text-muted
        small www.
        small.jedbangers JEDBANGERS
        small .com.ar
        br
        small Todo el contenido &copy; JEDBANGERS 2014
