div(ng-controller="ConfigurableSettingsFormController as ctrl")
  .page-header
    h3
      | Configurable settings

  form.form-horizontal(name="generalSettingsForm" role="form" novalidate)

    .init(ng-init="extendForm(generalSettingsForm)")

    fieldset
      .form-group(ng-class="{ 'has-error': generalSettingsForm.hasError('redeemCodeHint') }")
        .col-md-2.text-right
          label.control-label(for="redeemCodeHint") Redeem code hint
        .col-md-6
          //- Simple input
          //- input.form-control(
          //-   name="redeemCodeHint"
          //-   ng-model="ctrl.model.redeemCodeHint"
          //-   ng-model-options="{ updateOn: 'default blur', debounce: { default: 1000, blur: 0 } }"
          //-   ng-maxlength="ctrl.redeemCodeHintMaxLength"
          //- )
          //- HTML input
          //- Disabled ng-maxlength validation. Too lazy to implement
          //- it properly due to the usage of TinyMCE.
          textarea(
            ui-tinymce="ctrl.redeemCodeHintTinyMceOptions"
            class="form-control"
            type="text"
            name="redeemCodeHint"
            ng-model="ctrl.model.redeemCodeHint"
          )

        .col-md-6
          .help-block(
            ng-show="generalSettingsForm.hasError('redeemCodeHint')"
            ng-messages="generalSettingsForm.redeemCodeHint.$error"
          )
            i.fa.fa-warning &nbsp;
            span(ng-message="maxlength") Redeem code hint is too long ({{ ctrl.redeemCodeHintMaxLength }} characters max.).

    ul.col-md-offset-2.text-danger(ng-show="ctrl.responseErrors")
      li(ng-repeat="error in ctrl.responseErrors track by $index") {{ error }}

    .row
      .col-md-4.col-md-offset-2
        button.btn.btn-primary(type="submit" ng-click="ctrl.save()" ng-disabled="!ctrl.submittable()") Save
        //- button.btn.btn-default.btn-margin-left(type="button" ng-click="ctrl.cancel()") Cancel
