doctype html
html
  head
    base(href="#{settings.base}")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")

    title #{settings.title}

    if googleAnalytics && googleAnalytics.trackingId
      - var analyticsUrl = null
      if googleAnalytics.debug
        - analyticsUrl = 'https://www.google-analytics.com/analytics_debug.js'
      else
        - analyticsUrl = 'https://www.google-analytics.com/analytics.js'
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','!{analyticsUrl}','ga');

        ga(
          'create',
          '!{googleAnalytics.trackingId}',
          !{JSON.stringify(googleAnalytics.cookieOptions)}
        );

        // Disabled due to Angulartics
        ga('send', 'pageview');

  body
    script(src="../#{scripts.commons}")
    script(src="../#{scripts.app}")
